:root {
    --header-background: #4c4c4c;
    --background: #ffffff;
    --color: black;
}
[data-theme="dark"] {
    --background: #121212;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../../fonts/Poppins-Medium.ttf");
}

body {
    background-color: white;
    margin: 0 5px;
    padding-top: 3rem;
    font-size: 1rem;
    font-family: Poppins-Medium;
    color: var(--color);
}
button {
    font-family: Poppins-Medium;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
}
header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 2rem;
    background-color: var(--header-background);
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.titles {
    margin: 0;
}
